[submodule "libraries/indieauth-client-php"]
	path = libraries/indieauth-client-php
	url = https://github.com/indieweb/indieauth-client-php
[submodule "libraries/link-rel-parser-php"]
	path = libraries/link-rel-parser-php
	url = https://github.com/indieweb/link-rel-parser-php
