[submodule "libraries/php-mf2"]
	path = libraries/php-mf2
	url = https://github.com/indieweb/php-mf2.git
[submodule "libraries/php-comments"]
	path = libraries/php-comments
	url = https://github.com/indieweb/php-comments
[submodule "libraries/mention-client-php"]
	path = libraries/mention-client-php
	url = https://github.com/indieweb/mention-client-php
